.nav-item {
    margin-left: 40px;
}

.footer-links a {
  display: block;       /* stack vertically */
  margin-bottom: 8px;   /* spacing between links */
  text-decoration: none;
  color: grey;
}

#supportHero {
  background-color: rgb(56, 126, 209);
  color: white;
}

#supportHero a {
  color: white;
}

#supportWrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}

#supportHero input {
  padding: 20px 100px;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
}